/* General Styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #ffbeae, #52f7c09c, #94d2bd);
  color: #ffffff;
  text-align: center;
}

/* Hero Section */
#hero {
  padding: 50px;
  background: url("https://i.pinimg.com/originals/9b/3c/a3/9b3ca34e65fd10db9fa7d4627fb4119f.gif")
    center/cover no-repeat;
  color: #f4a261;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px black;
  animation: fadeIn 2s;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  animation: glow 2s infinite alternate;
}

#hero p {
  font-size: 1.2rem;
  font-style: italic;
}

/* Favorite Destinations */
#favorite-destinations {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destination-card {
  margin: 20px;
  background: #1789c389;
  border: 2px solid #f4a261;
  border-radius: 10px;
  color: white;
  width: 250px;
  box-shadow: 0px 0px 10px 2px #f4a261;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.destination-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.destination-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 5px #f4a261;
}

/* Travel Goals */
#travel-goals {
  padding: 50px 20px;
  background: #05668d;
  border-top: 2px solid #f4a261;
}

#travel-goals ul {
  list-style: none;
  padding: 0;
}

#travel-goals li {
  margin: 10px 0;
  font-size: 1.2rem;
}

/* Travel Gallery */
#travel-gallery {
  padding: 50px 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 2px #f4a261;
}

/* Travel Quotes */
#travel-quotes {
  padding: 50px 20px;
  background: #028090;
  font-style: italic;
  border-top: 2px solid #f4a261;
}

blockquote {
  margin: 20px auto;
  padding: 20px;
  border-left: 5px solid #f4a261;
  background: #56c3fafc;
  font-size: 1.2rem;
  box-shadow: 0px 0px 5px 1px #f4a261;
  max-width: 600px;
}

/* Footer */
footer {
  padding: 10px;
  background: #001219;
  color: #ffffff;
}

/* Animations */
@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #f4a261, 0px 0px 15px #f4a261;
  }
  to {
    text-shadow: 0px 0px 15px #f4a261, 0px 0px 30px #f4a261;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
